/* --------------------
      Default css
----------------------- */
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* font mohol */
@font-face {
  font-family: 'moholregular';
  src: url(../fonts/mohol-regular-webfont.woff) format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: 400;
  background: #f2f5fa;
  color: #121212;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%; }

  a:focus,
  input:focus,
  textarea:focus,
  button:focus {
    text-decoration: none;
    outline: none; }

  a:focus,
  a:hover {
    text-decoration: none; }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "moholregular", sans-serif;
      font-weight: 600;
      color: #121212;
      margin: 0px; }

    h1 {
      font-size: 48px; }

    h2 {
      font-size: 36px; }

    h3 {
      font-size: 28px; }

    h4 {
      font-size: 22px; }

    h5 {
      font-size: 18px; }

    h6 {
      font-size: 16px; }

    ul, ol {
      margin: 0px;
      padding: 0px;
      list-style-type: none; }

    p {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #121212;
      margin: 0px; }

/* --------------------
      dashboard css
----------------------- */
@media screen and (min-width:992px) {
  .navbar{
    display: block;
    align-items:start!important;
    width: 250px;
  }
  .sidebar-wrapper{
    position: fixed;
  }
  .content-wrapper {
    margin-left: 14rem;
  }
  .copyright{
    position:absolute;
    bottom:10px;
  }
}

.sidebar-wrapper {
  border-right: 1px solid #dee2e6 !important;
  background-color: #fff !important;
  z-index: 1;
  height: 100%;
}

.p-3 {
  padding: 1rem !important;
}

.garis {
  width: 80%;
  margin: 0px 20px;
}
nav a.icon{
  display: none;
}

.icons {
  width: -10%;
  height: -10%;
}


.content-wrapper {
  background: #f2f5fa;
  min-height: 100vh;
}

.main-btn {
display: inline-block;
font-weight: 600;
text-align: center;
white-space: nowrap;
padding: 0 20px;
width: 150px;
font-size: 12px;
line-height: 35px;
-webkit-transition: all 0.4s ease-out 0s;
-moz-transition: all 0.4s ease-out 0s;
-ms-transition: all 0.4s ease-out 0s;
-o-transition: all 0.4s ease-out 0s;
transition: all 0.4s ease-out 0s;
position: relative;
text-transform: capitalize;
margin-bottom: 10px;
}

.rounded-one {
  background-color: #202020;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
}

.rounded-two {
  background-color: #fff;
  text-decoration: none;
  color: #121212;
  border-radius: 5px;
}

.daftar {
  background-color: #105395;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
}

.daftar:hover {
  text-decoration: none;
  color: #fff;
}

/* --------------------
      timeline css
----------------------- */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
}

.blue {
  border-left: 0.25rem solid #4e73df !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  height: 100% !important;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.no-mx {
  margin-right: 0;
  margin-left: 0;
  align-items: center !important;
}

.green {
  border-left: 0.25rem solid #1cc88a !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  height: 100% !important;
}

.tosca {
  border-left: 0.25rem solid #36b9cc !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  height: 100% !important;
}

.purple {
  border-left: 0.25rem solid #6f42c1 !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  height: 100% !important;
}

.indigo {
  border-left: 0.25rem solid #6610f2 !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  height: 100% !important;
}
/* --------------------------------------
      timeline - status pendaftaran css
----------------------------------------- */
.jenis .paket-1 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;}
.biru { background-color: #4e73df;}
.toska { background-color: #36b9cc;}
.jenis .paket-1 .judul {
  font-size: 22px;
  color: #fff;
  padding: 25px; }
.jenis .jenis-body {
  border: 1px solid #ddd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
.jenis .jenis-body .jenis-text {
  border-bottom: 1px solid #ddd;
  padding: 20px 25px; }
.jenis .jenis-body .jenis-list {
  padding-top: 30px; }
  .jenis .jenis-body .jenis-list p {
    line-height: 36px;
    color: #32333c;
    font-size: 16px; }

.single-pricing {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 24px 20px 50px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  background-color: #fff; }
.single-pricing .pricing-list {
  margin-top: 5px; }
.single-pricing .pricing-list ul li {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #121212;
  margin-top: 16px; }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .single-pricing .pricing-list ul li {
      font-size: 14px;
      margin-top: 12px; } }
  @media (max-width: 767px) {
    .single-pricing .pricing-list ul li {
      font-size: 14px;
      margin-top: 12px; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .single-pricing .pricing-list ul li {
      font-size: 16px;
      margin-top: 16px; } }
      .single-pricing .pricing-list ul li i {
        color: #8487F4;
        margin-right: 8px; }
        .single-pricing .pricing-list ul li i .right {
          color: #0BA2ED;}

.single-pricing.pro .pricing-header .sub-title::before {
  right: auto;
  left: 0px;
  background-color: #8487F4; }
.single-pricing.enterprise .pricing-header .sub-title::before {
  right: 0px;
  left: auto;
  background-color: #0BA2ED; }
.status li {
  background-color: #eaeaea;
  border-radius: 5px;
}


/* Timeline */
.card-container{
  background-color: #fff;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background-color: #5494FF;
  color:#fff;
}
.card-container button.nav-link{
  border:1px solid #C4C4C4!important;
}

.card-timeline{
  border-radius: 10px;
  background-color: #F5F5F5;
}
.card-timeline h3{
  font-family:"moholregular", sans-serif;
}

.card-timeline.active{
  background: #105395;
}
.card-timeline.active p{
  color:#fff;
}
.card-timeline.active h5{
  color:#fff;
}
.card-timeline.active h3{
  color:#fff;
}

@media (min-width: 992px) {
  .form-daftar {
    width: 500px;
  }
}

/* coba form */

.input-group-prepend {
}

.input-group-prepend span {
  width: 37px;
  background-color: #f6ba00;
  color: black;
  border: 0 !important;
}

.input-group-prepend span i {
  font-size: 12px;
}

.form-group .input-group .form-control-placeholder {
    letter-spacing: 0.6px;
}

/* list event */
@media (max-width: 426px) {
  .list-event {
    flex: 0 0 auto !important;
    width: 83.3333333333% !important;
  }
}

/*coba dropdown */
@media (min-width: 992px) {
  #pembayaran {
    width: 290px;
  }
}
