/* Import Font */
/* Work Sans */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

/* font mohol */
@font-face {
  font-family: 'moholregular';
  font-display:swap;
  src: url(../fonts/mohol-regular-webfont.woff) format('woff2');
  font-weight: normal;
  font-style: normal;

}
/* END import font*/

* {
  font-family: "Work Sans", sans-serif;
  margin:0;
  padding:0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans", sans-serif;
}

body {
  background: #02081F;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color:#fff;
}


.hero,.juara,.timeline{
  margin-bottom: 8rem;
}


.navbar {
  background-color: rgb(0, 0, 0);
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.2);
}

.navbar-dark .navbar-toggler-icon{
  background-image: url(../img/hamburgerMenu.png);
}

.navbar-dark .navbar-toggler{
  color:none !important;
  border:none;
}

.navbar-dark a {
  color: #fff !important;
}

ul.navbar-nav {
  gap: 15px;
}

.navbar-dark a:hover {
  color: #F528CC !important;
  transition: 0.5 ease-in;
}
.dropdown-menu {
  background: #220645;
}
.dropdown-menu li a:hover {
  background: rgba(70, 12, 69, 0.25);
  color: #fff;
}
.dropdown-menu li a {
  color: #fff;
}



.hero .description{
  width:85%;
}

.hero .price .bg-price{
  background-color: #707070;
  width: 120px;
  height: 30px;
  margin-top: -5px;
}
.hero .info .bg-signup{
  background-color: #105395;
  width:170px;
  height: 35px;
}
.hero .info .bg-signup:hover{
  background-color: #105daa;
  transition: .2 ease-in;
}
.hero .info .border-guidebook{
  border:2px solid #105395;
  width:180px;
  height: 35px;
}
.hero .info .border-guidebook:hover{
  background:rgba(255,255,255,.1);
  border:2px solid #3c7ab8;
  transition: .2 ease;
}

/* pembicara */
.speaker1, .speaker2 {
  display: inline-block;
  white-space: nowrap;
}
@media screen and (max-width:576px){
  *{
    font-size:14px;
  }
  .hero,.juara,.timeline{
    margin-bottom: 4rem;
  }
  .fs-3{
    font-size: 14px !important;
  }
  .footer h3{
    font-size:22px;
  }
  .footer ul li a{
    font-size:16px;
  }
  .juara .card-juara{
    width: 150px;
    height: 182px;
  }
  .juara .card-juara:nth-child(2){
    width: 150px;
    height:195px;
    margin-top:0;
  }
  .juara .description{
    font-size:12px;
  }
  .timeline .card-timeline{
    width: 177px;
    height: 94;
  }
  .timeline .description{
    font-size:12px;
  }
  .footer .contact a i{
    font-size:28px;
  }
}

/* footer */
.footer {
  background: #000;
  padding-top: 65px;
}
.footer h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom:20px;
}
.footer ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}
.footer ul li a:hover {
  color: #F528CC;
  transition: 0.5 ease-in;
}
.contact{
  margin:24px 0;
}
.contact a{
  color:#fff;
  font-size: 26px;
  margin-left:16px;
}


@media screen and (max-width:576px){
  *{
    font-size:14px;
  }
  .hero,.juara,.timeline{
    margin-bottom: 4rem;
  }
  .fs-3{
    font-size: 14px !important;
  }
  .footer h3{
    font-size:22px;
  }
  .footer ul li a{
    font-size:16px;
  }
  .juara .card-juara{
    width: 150px;
    height: 182px;
  }
  .juara .card-juara:nth-child(2){
    width: 150px;
    height:195px;
    margin-top:0;
  }
  .juara .description{
    font-size:12px;
  }
  .timeline .card-timeline{
    width: 177px;
    height: 94;
  }
  .timeline .description{
    font-size:12px;
  }
  .footer .contact a i{
    font-size:28px;
  }
}

#sponsor-medpar {
    background-color: #02081F;
    height: 500px;
    width: 100%;
    /*padding-top: 100px;
    padding-left: 60px;*/
}

.sponsor-title {
    padding-left: 30px;
}

.sponsor {
    color: #fff;
}

.logo-group{
    width: 90%;
}

.logo-sponsor-1 {
    position: relative;
    top: 9px;
    height: 70%;
}

.logo-sponsor-2 {
    position: relative;
    height: 100%;
}

.logo-sponsor-3 {
    position: relative;
    top: 2px;
    height: 70%;
}

.logo-sponsor-4 {
    position: relative;
    top: 6px;
    height: 70%;
}

.medpar {
    color: #fff;
}

.logo-medpar-1 {
    position: relative;
    top: 2px;
    height: 140px;
    width: 260px;
}

.logo {
    display: inline-block;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    border-radius: 8px;
    width: 180px;
    height: 80px;
    margin: 10px;
}

.medpar-logo {
    display: inline-block;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    border-radius: 8px;
    width: 280px;
    height: 160px;
}

.support{
    color: #fff;
    padding-top: 40px;
}

.support-logo {
  width: 125px;
}

.kosong{
    display: none;
}

@media (min-width: 601px) and (max-width: 991px) {
  .medpar-logo{
      width: 210px;
      height: 105px;
      position: relative;
      left: 35%;
  }

  .logo-medpar-1 {
    width: 200px;
    height: 95px;
    left: -5px;
    top: -5px;
  }

  .medpar-title{
    text-align: center;
  }

  .support-title{
    text-align: center;
  }

  .support-logo {
    width: 125px;
    position: relative;
    left: 27.5%;
  }
}

@media(max-width: 600px) {

    .mobile-size{
        font-size: 36px;
    }

    #sponsor-medpar{
        height: 450px;
        /*padding-top: 34px;
        padding-left: 12px;*/
    }

    .kosong{
        display: none;
    }

    .logo{
        width: 40%;
        height: 70px;
    }

    .medpar-logo{
        width: 140px;
        height: 70px;
        position: relative;
        left: 32.5%;
    }

    .logo-medpar-1 {
      width: 130px;
      height: 60px;
      left: -5px;
      top: -5px;
    }

    .logo-group{
        position: relative;
        right: 7%;
        width: 100%;
    }

    .medpar{
        padding-top: 20px;
    }

    .medpar-group{
        position: relative;
        left: 14%;
    }

    .sponsor-title{
        position: relative;
        left: 24%;
    }

    .medpar-title{
      text-align: center;
    }

    .support{
        color: #fff;
        padding-top: 90px;
        text-align: center;
    }

    .support-title{
      text-align: center;
    }

    .support-logo {
      width: 125px;
      position: relative;
      left: 15%;
    }

    #teaser{
        height: 480px;
    }

    .teaser-vid{
        height: 174px;
        width: 309px;
    }
    #daftar-sekarang{
        background-size: 100%;
        background-position: center center;
    }

    .daftar-title{
        color: #fff;
        padding-left: 30px;
        padding-top: 40px;
    }
}
